html {
  height: 100vh;
  width: 100vw;
}
body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  margin: 0px;
}
header {
  height: 30%;
}
section {
  height: 30%;
  display: grid;
}
footer {
  height: 30%;
}
